<div class="pagination">
	<% if @page > 0 %>
		<a href="/delivers" title="First Page">&laquo; First</a>
		<a href="/delivers/<%= @page-1 %>" title="Previous Page">&laquo; Previous</a>
	<% end %>
	<% if @page-2 >= 0 %>
		<a href="/delivers/<%= (@page-2).to_s %>" class="number" title="<%= (@page-2).to_s %>"><%= (@page-2).to_s %></a>
	<% end %>
	<% if @page-1 >= 0 %>
		<a href="/delivers/<%= (@page-1).to_s %>" class="number" title="<%= (@page-1).to_s %>"><%= (@page-1).to_s %></a>
	<% end %>
	<a href="/delivers/<%= @page.to_s %>" class="number current" title="<%= @page.to_s %>"><%= @page.to_s %></a>
	<% if @page+1 < @delivers_limit %>
		<a href="/delivers/<%= (@page+1).to_s %>" class="number" title="<%= (@page+1).to_s %>"><%= (@page+1).to_s %></a>
	<% end %>
	<% if @page+2 < @delivers_limit %>
		<a href="/delivers/<%= (@page+2).to_s %>" class="number" title="<%= (@page+2).to_s %>"><%= (@page+2).to_s %></a>
	<% end %>
	<% if @page+1 < @delivers_limit %>
		<a href="/delivers/<%= (@page+1).to_s %>" title="Next Page">Next &raquo;</a>
		<a href="/delivers/<%= @delivers_limit.to_s %>" title="Last Page">Last &raquo;</a>
	<% end %>
</div> <!-- End .pagination -->
<div class="clear"></div>