<% @page = 0 if @page.nil? %>

<div class="content-box"><!-- Start Content Box -->
	
	<div class="content-box-header">
		
		<h3>Delivery status</h3>
		<div class="clear"></div>
		
	</div> <!-- End .content-box-header -->
	
	<div class="content-box-content">
		<table>
			<thead>
			<tr>
				<th>ID</th>
				<th>Postfix ID</th>
				<th>Message ID</th>
				<th>Delivered</th>
				<th>Status</th>
				<th>Status code</th>
				<th>Hostname</th>
				<th>Start</th>
				<th>Last update</th>
			</tr>
			</thead>
			<tbody>
			<% @delivers.each do |deliver| %>
				<tr>
					<td><%= deliver.id %></td>
					<td><%= h deliver.postfix_id %></td>
					<td><%= h deliver.message_id %></td>
					<td><%= h deliver.delivery_success %></td>
					<td><%= h deliver.status %></td>
					<td><%= h deliver.status_code %></td>
					<td><%= h deliver.hostname %></td>
					<td><%= deliver.start_time.nil? ? "" : deliver.start_time.strftime("%H:%M:%S %d/%m/%Y") %></td>
					<td><%= deliver.last_update.nil? ? "" : deliver.last_update.strftime("%H:%M:%S %d/%m/%Y") %></td>
				</tr>
			<% end %>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="9"><%= erb(:_filter, :layout => false) %></td>
				</tr>
			</tfoot>
		</table>
		<div class="clear"></div>
	</div>
</div>